/* Teljes oldal háttér és betűk */
body {
  background-color: #f7f7f7; /* világos szürke háttér */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; /* középre igazítja a tartalmat */
}



/* Fő tartalom */
.content {
  display: inline-block; /* inline-block a középre igazításhoz */
  text-align: left; /* szöveg balra igazítva */
  max-width: 600px; /* ne legyen túl széles */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Cím */
.content h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* a cím középre */
}

/* Kép */
.photo {
  max-width: 100%; /* kisebb képernyőn is arányosan csökkenjen */
  display: block;
  margin: 0 auto 20px auto; /* középre és alul margó */
  border-radius: 20px;
}

/* Szöveg */
.content p {
  font-size: 16px;
  margin: 8px 0;
}

.content strong {
  color: green;
}